# Mengabaikan semua folder library di proyek manapun
node_modules/

# Mengabaikan hasil laporan test di kedua folder
saucedemo-pro-automation/reports/
saucedemo-app-automation/reports/
test-results/
screenshots/
videos/

# Mengabaikan log sampah
npm-debug.log*
.DS_Store
Thumbs.db

# Mengabaikan settingan pribadi editor
.vscode/
.idea/