name: SauceDemo Web CI
on: [push, pull_request]

jobs:
  web-automation:
    runs-on: ubuntu-latest
    defaults:
      run:
        # HARUS SAMA DENGAN NAMA FOLDER DI VS CODE
        working-directory: saucedemo-web-automation 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Web Test
        run: npm run test:web