name: SauceDemo Web CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  web-automation:
    runs-on: ubuntu-latest
    
    # Memberi tahu GitHub untuk bekerja di dalam folder project WEB
    defaults:
      run:
        working-directory: saucedemo-pro-automation

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright Web Test
        run: npm run test:web

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: web-test-report
          # Path menuju folder report di dalam folder web
          path: saucedemo-pro-automation/reports/
          retention-days: 30